
:javascript
  var c=document.getElementById("myCanvas");
  var ctx=c.getContext("2d");
  ctx.fillStyle="#FF0000";
  ctx.fillRect(0,0,150,75);
  
%h1 Consider the consequences...
%p How exciting!
%p
  How the 
  %bold hell 
  do you make the page margins larger?
%p
  How
  %strong wonderful
  it all will be!
  %p/
  %h2 Next we learn more
  %ol
    %li How to add a photo gallery
    %li How to make the gallery cool
    %li How to make a complicated background
  %h3
    Where to find
    %strong MY
    website:
  %p
    %a 
      = link_to "DESIGN GROUP INK", 'http://www.designgroupink.com'
    %p
      = image_tag('RefugioPalm.jpg')
    %p  
%p
  %h4 &copy 2011 Design Group, Ink.
  %p/      
  %p/
          