/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  margin: 0 auto;  
  width: 1500px;
  background: #000000; 
  font-family: "Arial, Helvetica, sans-serif";
  color: white;
  font-size: 110%;
  padding: 0; 
  }

/* By the way, this is a comment */

p {
  line-height: 1.5em; 
  img {
  	border: 0;
  	box-shadow: 0;
  } 
}


h1 {
  font-family:"Engravers MT", Arial, Helvetica, sans-serif;
  color: #F5F5DC;
  font-size: 2em;
  margin: 1em;  
  margin-bottom: 2em;
  padding: 1em;
  font-weight: 700;     /* bold */
  text-align: center;
  text-shadow: 3px 3px 5px #FFCC66; 
  }

h2 {
  font-family: "Engravers MT", Arial, Helvetica, sans-serif;
  color: black;
  background-color: #FFE4B5; 
  font-size: 1em;
  text-align: left;
  margin: 0;
  margin-right: 70em;
  padding: 0; 
  box-shadow: 5px 5px 5px #888888;
  }

h3 {
  color: #B8860B;
  font-size: 1.25em;
  text-align: left; 
  }
  
h4 {
	color: #F0F8FF;
	font-size: smaller;
	text-align: center;
}  

img {
  float: left;
  border: 2px solid;
  box-shadow: 10px 10px 5px #888888;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  padding: 3px 
  }

a {
  color: white;
  text-decoration: none;
  }

a:hover {
  color: #00FFFF;     
}

